<!DOCTYPE html>
<html>
<head>
    <title>🚀 Flask App Deployed via Jenkins</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f8ff;
            color: #333;
            text-align: center;
            padding-top: 50px;
        }
        h1 {
            color: #0066cc;
        }
        .box {
            background: white;
            border-radius: 8px;
            padding: 20px;
            margin: 30px auto;
            width: 60%;
    </style>
</head>
<body>
    <div class="box">
        <h1>🎉 Hello from Flask & Docker! Shyam</h1>
        <p>This HTML was updated successfully and deployed using Jenkins.</p>
        <p>✔️ CI/CD is working. This app runs on EC2 inside a Docker container.</p>
    </div>
</body>
</html>

